<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StockDetailLoadingColor</key>
	<string>61|118|184</string>
	<key>UIPullHeaderLoadingColor</key>
	<string>66|87|108</string>
	<key>AlertWaitingViewTextColor</key>
	<string>255|255|255</string>
	<key>NavigationBarTintColor</key>
	<string>61|118|184</string>
	<key>StatusBarBackgroundColor</key>
	<string>29|34|40</string>
	<key>TradingTitleColor</key>
	<string>212|212|212</string>
	<key>TradingLoginBrokerageNameColor</key>
	<string>255|255|255</string>
	<key>TradingLoginBrokerageBgColor</key>
	<string>33|33|33</string>
	<key>TradingLoginBgColor</key>
	<string>16|20|25</string>
	<key>SettingViewBackgroundColor</key>
	<string>238|239|239</string>
	<key>DefaultBackgroundColor</key>
	<string>16|20|25</string>
	<key>DefaultSelectedBackgroundColor</key>
	<string>31|38|48</string>
	<key>DefaultStockNameColor</key>
	<string>247|251|255</string>
	<key>DefaultStockPriceColor</key>
	<string>247|251|255</string>
	<key>DefaultStockCodeColor</key>
	<string>101|107|110</string>
	<key>DefaultStockFlucColor</key>
	<string>255|255|255</string>
	<key>DefaultStockInvalidColor</key>
	<string>167|173|178</string>
	<key>DefaultStockSeparateColor</key>
	<string>30|35|41</string>
	<key>DefaultStockTitleColor</key>
	<string>255|255|255</string>
	<key>DefaultStockSubTitleColor</key>
	<string>100|100|100</string>
	<key>NewsFavSepratorColor</key>
	<string>208|213|218</string>
	<key>NewsListSepratorColor</key>
	<string>30|36|42</string>
	<key>NewsListHeadViewColor</key>
	<string>26|31|36</string>
	<key>NewsListHeadNameColor</key>
	<string>255|255|255</string>
	<key>NewsListUnreadNewsTitleColor</key>
	<string>247|251|255</string>
	<key>NewsListReadNewsTitleColor</key>
	<string>104|107|111</string>
	<key>NewsListUnreadAbstractColor</key>
	<string>140|143|148</string>
	<key>NewsListReadAbstractColor</key>
	<string>104|107|111</string>
	<key>NewsListNewsTimeColor</key>
	<string>140|143|148</string>
	<key>NewsListSecondTimeColor</key>
	<string>17|160|226</string>
	<key>NewsListStockNewsTimeColor</key>
	<string>141|137|136</string>
	<key>NewsListStockNewsUnreadNameColor</key>
	<string>140|143|148</string>
	<key>NewsListStockNewsReadNameColor</key>
	<string>140|143|148</string>
	<key>NewsListUnreadNewsTitleColor1</key>
	<string>#ffffff</string>
	<key>NewsListReadNewsTitleColor1</key>
	<string>#bababb</string>
	<key>NewsListUnreadAbstractColor1</key>
	<string>#81888f</string>
	<key>NewsListReadAbstractColor1</key>
	<string>#81888f</string>
	<key>NewsListStockNewsUnreadNameColor1</key>
	<string>125|125|125</string>
	<key>NewsListStockNewsReadNameColor1</key>
	<string>125|125|125</string>
	<key>NewsListNewsTimeColor1</key>
	<string>#7b7f81</string>
	<key>NewsListItemButtonNormalColor</key>
	<string>#899498</string>
	<key>NewsListItemButtonSelectedColor</key>
	<string>#3a83c7</string>
	<key>NewsListItemSepLineColor</key>
	<string>#2b323b</string>
	<key>DefaultSelectedBackgroundColor1</key>
	<string>#1f2630</string>
	<key>NewsListSepratorColor1</key>
	<string>#1f242a</string>
	<key>NewsListItemTitleColor</key>
	<string>139|145|152</string>
	<key>NewsContentTitleColor</key>
	<string>247|251|255</string>
	<key>NewsContentTimeColor</key>
	<string>140|143|148</string>
	<key>NewsContentTextColor</key>
	<string>247|251|255</string>
	<key>NewsContentKeywordNormal</key>
	<string>67|154|255</string>
	<key>NewsContentKeywordHighLight</key>
	<string>76|130|182</string>
	<key>NewsContentSepratorLine</key>
	<string>#1d2228</string>
	<key>NewsSpecialTopicSectionTitleColor</key>
	<string>96|118|148</string>
	<key>NewsSpecialTopicAbstractColor</key>
	<string>#899198</string>
	<key>NewsSpecialTopicAbstractBackgroundColor</key>
	<string>#1b1f24</string>
	<key>LabelColorInBlock2</key>
	<string>137|145|152</string>
	<key>FenzhongDropViewTextColor</key>
	<string>137|145|152</string>
	<key>FenzhongCellSelectedColor</key>
	<string>#1f3244</string>
	<key>ContentColorInBlock2</key>
	<string>255|255|255</string>
	<key>LabelColorInBlock3</key>
	<string>137|145|152</string>
	<key>ContentColorInBlock3</key>
	<string>255|255|255</string>
	<key>YanShiColorInBlock1</key>
	<string>140|143|138</string>
	<key>PriceRedColorBlock1</key>
	<string>255|61|1</string>
	<key>PriceGreenColorBlock1</key>
	<string>0|255|0</string>
	<key>PriceGrayColorBlock1</key>
	<string>202|202|202</string>
	<key>StockUDPriceGrayColor</key>
	<string>202|202|202</string>
	<key>PriceRedColorBlock1Real</key>
	<string>255|61|1</string>
	<key>PriceGreenColorBlock1Real</key>
	<string>0|255|0</string>
	<key>NewsPriceRedColorBlock1Real</key>
	<string>#ff3d01</string>
	<key>NewsPriceGreenColorBlock1Real</key>
	<string>#00ff00</string>
	<key>DefaultPriceRedColor</key>
	<string>255|0|0</string>
	<key>DefaultPriceGreenColor</key>
	<string>0|255|0</string>
	<key>KLineRedColor</key>
	<string>255|72|33</string>
	<key>KLineGreenColor</key>
	<string>51|255|51</string>
	<key>MLineBaseColor</key>
	<string>0|210|255</string>
	<key>MLineAvgColor</key>
	<string>231|280|72</string>
	<key>StockReportFieldNameColor</key>
	<string>247|251|255</string>
	<key>StockReportFieldValueColor</key>
	<string>247|251|255</string>
	<key>StockReportTitleColor</key>
	<string>176|178|182</string>
	<key>StockReportFieldBGColor</key>
	<string>28|26|25</string>
	<key>StockReportFieldBorderColor</key>
	<string>51|48|47</string>
	<key>StockReportDetailTitleBackgroundColor</key>
	<string>13|13|13</string>
	<key>StockReportDetailTitleTextColor</key>
	<string>239|239|239</string>
	<key>StockReportDetailLabelTextColor_L1</key>
	<string>255|255|255</string>
	<key>StockReportDetailLabelTextColor_L2</key>
	<string>142|142|142</string>
	<key>StockReportDetailLabelTextColor_L3</key>
	<string>231|231|231</string>
	<key>StockReportDetailLabelTextColor_L4</key>
	<string>231|231|231</string>
	<key>StockReportDetailTitleHorizontalSeparatorColor</key>
	<string>40|39|38</string>
	<key>StockReportDetailTitleVerticalSeparatorColor</key>
	<string>58|57|55</string>
	<key>StockReportDetailHorizontalSeparatorColor</key>
	<string>36|51|68</string>
	<key>StockReportDetailHorizontalSeparator1Color</key>
	<string>58|57|55</string>
	<key>StockReportDetailVerticalSeparatorColor</key>
	<string>53|52|51</string>
	<key>StockReportDetailVerticalForLabelSeparatorColor</key>
	<string>58|57|55</string>
	<key>StockReportDetailBottomSelectedTextColor</key>
	<string>204|200|195</string>
	<key>StockReportDetailBottomUnSelectedTextColor</key>
	<string>123|119|116</string>
	<key>StockReportDetailNormalCellBackgroundColor</key>
	<string>13|13|13</string>
	<key>StockReportDetailBackgroundColor</key>
	<string>13|13|13</string>
	<key>StockSelectKMLineColor</key>
	<string>255|255|255</string>
	<key>TipsListSelectedColor</key>
	<string>45|48|51</string>
	<key>TipsListHeaderColor</key>
	<string>99|95|94</string>
	<key>CustomButtonTitleColorForNormalStyle</key>
	<string>61|118|184</string>
	<key>CustomButtonTitleColorForRedStyle</key>
	<string>61|118|184</string>
	<key>WXDetailNameColor</key>
	<string>202|202|202</string>
	<key>WXDetailNameShadowColor</key>
	<string>99|98|98</string>
	<key>WXDetailBgColor</key>
	<string>13|13|13</string>
	<key>PortfolioLoginCellDividerColor</key>
	<string>30|36|42</string>
	<key>PortfolioLoginCellBGColor</key>
	<string>21|31|40</string>
	<key>LoginViewNameColor</key>
	<string>76|89|99</string>
	<key>LoginViewInputFieldTextColor</key>
	<string>117|127|134</string>
	<key>LoginViewInputFieldplaceholderColor</key>
	<string>144|152|161</string>
	<key>LoginViewLoginTitleColor</key>
	<string>169|164|160</string>
	<key>TipsNumberCellButtonTextColor</key>
	<string>229|237|246</string>
	<key>TipsNumberCellNumberColor</key>
	<string>229|237|246</string>
	<key>TradingLoginLabelTextColor</key>
	<string>255|255|255</string>
	<key>TradingLoginTextFieldBackgroundColor</key>
	<string>31|29|28</string>
	<key>TradingMainViewBackgroundColor</key>
	<string>16|20|25</string>
	<key>TradingMainViewLabelTextColor</key>
	<string>137|145|152</string>
	<key>TradingMainViewPickerTextColor</key>
	<string>137|145|152</string>
	<key>TradingLoginTextFieldTextColor</key>
	<string>0|0|0</string>
	<key>TradingMainViewContentTextColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewTitleTextColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewTradeCellBackgroundColor</key>
	<string>24|27|34</string>
	<key>TradingMainViewTradeCellVertical1LineColor</key>
	<string>21|20|19</string>
	<key>TradingMainViewTradeCellVertical2LineColor</key>
	<string>61|58|57</string>
	<key>TradingMainViewTradeStockCodeTextColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewTradeAddSubTextColor</key>
	<string>166|161|156</string>
	<key>TradingMainViewTradeBenjinTextColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewTradeScrollViewBackgroundColor</key>
	<string>29|34|40</string>
	<key>TradingMainViewHistoryTableViewBackgroundColor</key>
	<string>16|20|25</string>
	<key>TradingMainViewTodayOrderTableViewBackgroundColor</key>
	<string>16|20|25</string>
	<key>TradingMainViewRecordCellBackgroundColor</key>
	<string>16|20|25</string>
	<key>TradingMainViewRecordCellPlacementDateTextColor</key>
	<string>124|136|146</string>
	<key>TradingMainViewRecordCellOrderIDLabelTextColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewRecordCellOrderIDTextColor</key>
	<string>124|136|146</string>
	<key>TradingMainViewRecordCellGeneralBuyLabelColor</key>
	<string>137|145|152</string>
	<key>TradingMainViewRecordCellGeneralSellLabelColor</key>
	<string>132|126|122</string>
	<key>TradingMainViewRecordCellGeneralBuyValueColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewRecordCellGeneralSellValueColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewAccountSectionBGColor</key>
	<string>203|213|227</string>
	<key>TradingMainViewAccountSectionFRColor</key>
	<string>41|115|197</string>
	<key>TradingRecordCellBuyColor</key>
	<string>41|115|197</string>
	<key>TradingRecordCellSellColor</key>
	<string>255|102|0</string>
	<key>TradingRecordCellHistoryDateColor</key>
	<string>70|112|153</string>
	<key>DetailViewEqualLineColor</key>
	<string>143|143|143</string>
	<key>TitleButtonGroupNormalColor</key>
	<string>173|173|173</string>
	<key>TitleButtonGroupSelectedColor</key>
	<string>255|255|255</string>
	<key>TitleUnderlineColor</key>
	<string>#272e36</string>
	<key>DETAILYANSHIFONTCOLOR</key>
	<string>129|132|138</string>
	<key>DETAILYANSHIBORDERCOLOR</key>
	<string>56|57|57</string>
	<key>DETAILYANSHIFILLCOLOR</key>
	<string>13|13|13</string>
	<key>DetailLineIncreaseColor</key>
	<string>255|61|1</string>
	<key>DetailLineDecreaseColor</key>
	<string>80|237|77</string>
	<key>DetailExchangeIncreaseColor</key>
	<string>171|58|58</string>
	<key>DetailExchangeDecreaseColor</key>
	<string>58|171|58</string>
	<key>CPressedButtonGroupWithTitlesBorderColor</key>
	<string>52|64|79</string>
	<key>CPressedButtonGroupWithTitlesNormalColor</key>
	<string>137|145|152</string>
	<key>CPressedButtonGroupWithTitlesSelectedColor</key>
	<string>#3d76b8</string>
	<key>CPressedButtonGroupWithTitlesBGSelectedColor</key>
	<string>25|32|40</string>
	<key>CPressedButtonGroupWithTitlesBorderColor_Report</key>
	<string>52|64|79</string>
	<key>CPressedButtonGroupWithTitlesNormalColor_Report</key>
	<string>137|145|152</string>
	<key>CPressedButtonGroupWithTitlesSelectedColor_Report</key>
	<string>255|255|255</string>
	<key>CPressedButtonGroupWithTitlesBGSelectedColor_Report</key>
	<string>32|38|46</string>
	<key>StockDetailRTTopViewBackgroundColor</key>
	<string>29|34|40</string>
	<key>StockDetailTitleViewStockNameColor</key>
	<string>247|251|255</string>
	<key>StockDetailTitleViewStockCodeColor</key>
	<string>101|107|110</string>
	<key>StockDetailTitleViewTongBackgroundColor</key>
	<string>#2e6abe</string>
	<key>StockDetailBottomBarTextColor</key>
	<string>132|145|157</string>
	<key>StockDetailTitleJingBgColor</key>
	<string>#918931</string>
	<key>CMarketTableHeaderTextColor</key>
	<string>191|193|196</string>
	<key>TableHeaderTextSelectColor</key>
	<string>11|123|206</string>
	<key>TableHeaderTextNormalColor</key>
	<string>61|118|184</string>
	<key>CSearchBarTextColor</key>
	<string>255|255|255</string>
	<key>SearchBarplaceholderColor</key>
	<string>91|97|107</string>
	<key>CNavigationTitleColor</key>
	<string>255|255|255</string>
	<key>CNavigationTitleCodeColor</key>
	<string>101|107|110</string>
	<key>CAlertViewTextStyle2Color</key>
	<string>218|224|231</string>
	<key>DetailLandscapePankouTitleColor</key>
	<string>97|99|103</string>
	<key>DetailLandscapePankouValueColor</key>
	<string>176|178|182</string>
	<key>DetailLandscapePankouHeaderBackground</key>
	<string>18|26|28</string>
	<key>DetailLandscapePankouHeaderTitle</key>
	<string>137|145|152</string>
	<key>DetailLandscapeFuquanBorder</key>
	<string>61|99|135</string>
	<key>DetailLandscapeFuquanBGColor</key>
	<string>20|23|28</string>
	<key>DetailLandscapeFuquanTitleNormal</key>
	<string>255|255|255</string>
	<key>DetailLandscapeFuquanTitleSelected</key>
	<string>11|123|206</string>
	<key>DetailPankouTitleColor</key>
	<string>97|99|103</string>
	<key>DetailPankouValueColor</key>
	<string>176|178|182</string>
	<key>DetailPankouZeroValueColor</key>
	<string>255|255|255</string>
	<key>DetailInBlock3ToolBarColor</key>
	<string>137|145|152</string>
	<key>RefreshTitleColor</key>
	<string>120|126|130</string>
	<key>RefreshBackgroundColor</key>
	<string>29|34|40</string>
	<key>RefreshMarketTableHeaderColor</key>
	<string>16|20|25</string>
	<key>DetailPankouTabDefaultColor</key>
	<string>255|255|255</string>
	<key>DetailPankouTabSelectedColor</key>
	<string>255|255|255</string>
	<key>DetailNewsGroupNameColor</key>
	<string>13|153|229</string>
	<key>DetailNewsHeadNameColor</key>
	<string>140|143|148</string>
	<key>DetailNewsDetailColor</key>
	<string>247|251|255</string>
	<key>CombinationNameNormalColor</key>
	<string>255|255|255</string>
	<key>CombinationNameDisableColor</key>
	<string>73|79|90</string>
	<key>CombinationStockNumNormalColor</key>
	<string>91|97|107</string>
	<key>CombinationStockNumDisableColor</key>
	<string>73|79|90</string>
	<key>CombinationCreateNewTextFieldBgColor</key>
	<string>48|52|58</string>
	<key>CombinationCreateNewTextFieldTextColor</key>
	<string>77|109|146</string>
	<key>CombinationCreateNewTextFieldPlaceholderTextColor</key>
	<string>162|158|153</string>
	<key>DrawFlowZJCTextColor</key>
	<string>255|255|255</string>
	<key>DrawFlowZJCPosColor</key>
	<string>236|55|6</string>
	<key>DrawFlowZJCNagColor</key>
	<string>72|190|8</string>
	<key>DrawFlowZJLXSepColor</key>
	<string>0|0|0</string>
	<key>DrawFlowZJLXIndPercentColor</key>
	<string>255|255|255</string>
	<key>DrawFlowZJLXIndTextColor</key>
	<string>255|255|255</string>
	<key>DrawFlowZJLXMInColor</key>
	<string>236|55|6</string>
	<key>DrawFlowZJLXMOutColor</key>
	<string>72|190|8</string>
	<key>DrawFlowZJLXDInColor</key>
	<string>248|128|0</string>
	<key>DrawFlowZJLXDOutColor</key>
	<string>142|232|13</string>
	<key>ShareNickNameColor</key>
	<string>12|133|221</string>
	<key>ShareLimitNumColor</key>
	<string>131|139|156</string>
	<key>ShareBgColor</key>
	<string>238|239|239</string>
	<key>ShareContentTextColor</key>
	<string>97|102|112</string>
	<key>StockMoveTextNormalColor</key>
	<string>255|255|255</string>
	<key>StockMoveTextHilightColor</key>
	<string>135|136|141</string>
	<key>StockMoveTextDisableColor</key>
	<string>65|81|100</string>
	<key>FlashUpBlock1</key>
	<string>72|24|24</string>
	<key>FlasfDownBlock1</key>
	<string>7|78|7</string>
	<key>RTViewTitleColor</key>
	<string>137|145|152</string>
	<key>RTViewValueColor</key>
	<string>255|255|255</string>
	<key>GroupRTViewTitleColor</key>
	<string>137|145|152</string>
	<key>GroupRTViewValueColor</key>
	<string>255|255|255</string>
	<key>GroupRTViewRedColor</key>
	<string>255|61|1</string>
	<key>GroupRTViewGreenColor</key>
	<string>0|255|0</string>
	<key>GroupRTViewZeroValueColor</key>
	<string>255|255|255</string>
	<key>RTViewZeroValueColor</key>
	<string>255|255|255</string>
	<key>PressedButtonBottomLineViewBackgroundColor</key>
	<string>#34404f|0.5</string>
	<key>StockMomentsContentPressColor</key>
	<string>0|0|0</string>
	<key>CombinationTitleColor</key>
	<string>73|147|231</string>
	<key>CombinationTitleClickColor</key>
	<string>39|48|59</string>
	<key>CombinationSelectTableHeadeTextColor</key>
	<string>169|174|184</string>
	<key>CombinationSelectTableBgColor</key>
	<string>22|26|32</string>
	<key>FavTitleColor</key>
	<string>57|62|69</string>
	<key>FavSubTitleColor</key>
	<string>144|155|164</string>
	<key>FavoriteBackgroundColor</key>
	<string>238|242|246</string>
	<key>FavoriteSelectedBackgroundColor</key>
	<string>203|216|231</string>
	<key>HeadTextColor</key>
	<string>75|95|128</string>
	<key>ProfitLoss_Detail_bgColor</key>
	<string>#0f1f2c</string>
	<key>ProfitLoss_Detail_secondbgColor</key>
	<string>#0e1c27</string>
	<key>ProfitLoss_Detail_graphicbgColor</key>
	<string>#0e1c27</string>
	<key>ProfitLoss_SpliteLabelColor</key>
	<string>137|145|152</string>
	<key>ProfitLoss_HeaderLabelColor</key>
	<string>137|145|152</string>
	<key>ProfitLoss_HeaderSelectViewNormalColor</key>
	<string>#0E2132|0.94</string>
	<key>ProfitLoss_HeaderSelectViewSelectedColor</key>
	<string>#0C1E2A|0.94</string>
	<key>ProfitLoss_HeaderSelectViewTextColor</key>
	<string>#89969E</string>
	<key>ProfitLoss_HeaderSelectViewTilteTextColor</key>
	<string>#477D41</string>
	<key>ProfitLoss_HeaderSelectViewBorderColor</key>
	<string>#0E2333</string>
	<key>ProfitLoss_HeaderContentColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_CellDateColor</key>
	<string>80|103|129</string>
	<key>ProfitLoss_CellLabelColor</key>
	<string>247|251|255</string>
	<key>ProfitLoss_CellSeperateLineColor</key>
	<string>28|38|49</string>
	<key>ProfitLoss_SummaryZeroCellBgColor</key>
	<string>#10161d</string>
	<key>ProfitLoss_EditLableColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_EditContentColor</key>
	<string>72|116|163</string>
	<key>ProfitLoss_TextFieldBgColor</key>
	<string>29|34|40</string>
	<key>ProfitLoss_TextFieldTextColor</key>
	<string>236|241|243</string>
	<key>ProfitLoss_TextFieldPlaceholderColor</key>
	<string>75|83|101</string>
	<key>ProfitLoss_HeaderBackgroundColor</key>
	<string>16|20|25</string>
	<key>ProfitLoss_FundHeaderLabelColor</key>
	<string>137|145|152</string>
	<key>ProfitLoss_FundHeaderContentColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_SummaryHeaderLabelColor</key>
	<string>137|145|152</string>
	<key>ProfitLoss_SummaryHeaderContentColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_SummarySectionHeaderLabelColor</key>
	<string>#A6A7A8</string>
	<key>ProfitLoss_SummarySectionHeaderLabelHighlightColor</key>
	<string>#497FC6</string>
	<key>ProfitLoss_viewProfitLossTextColor</key>
	<string>#A6A8AB</string>
	<key>ProfitLoss_positionProfitLossTextColor</key>
	<string>#DEDFDF</string>
	<key>ProfitLoss_todayProfitLossTextColor</key>
	<string>#497FC6</string>
	<key>ProfitLoss_totalProfitLossTextColor</key>
	<string>#BFC1C4</string>
	<key>ProfitLoss_stockMarketValueContentTextColor</key>
	<string>#FFFFFF</string>
	<key>ProfitLoss_currencyTypeItemColor</key>
	<string>#477DC1</string>
	<key>ActivityCenter_TableviewBackgroundColor</key>
	<string>239|239|239</string>
	<key>ActivityCenter_CellBackgroundColor</key>
	<string>255|255|255</string>
	<key>ActivityCenter_ActivityCaptionColor</key>
	<string>41|47|55</string>
	<key>ActivityCenter_AdvertiseMessageColor</key>
	<string>186|198|212</string>
	<key>APHCaptionHeaderTextNormalColor</key>
	<string>61|118|184</string>
	<key>Market_HGT_LimitDataLabelColor</key>
	<string>137|145|152</string>
	<key>Market_HGT_LimitDataContentColor</key>
	<string>255|255|255</string>
	<key>ActivityTipsBox_Switch_BackgroundColor</key>
	<string>37|58|83</string>
	<key>ActivityTipsBox_Switch_UnsetBackgroundColor</key>
	<string>29|34|40</string>
	<key>ActivityTipsBox_Switch_SetTextColor</key>
	<string>255|255|255</string>
	<key>ActivityTipsBox_Switch_UnsetTextColor</key>
	<string>131|140|152</string>
	<key>ActivityTipsBox_Switch_Badge_BackgroundColor</key>
	<string>252|26|35</string>
	<key>ActivityTipsBox_Switch_Badge_TextColor</key>
	<string>255|255|255</string>
	<key>ActivityTipsBox_Switch_Badge_BorderColor</key>
	<string>255|255|255</string>
	<key>NewsListBackgroudColor</key>
	<string>16|20|25</string>
	<key>NewsListSelectedBackgroudColor</key>
	<string>217|217|217</string>
	<key>NewsListContentColor</key>
	<string>12|13|15</string>
	<key>NewsListItemSelectedColor</key>
	<string>#FFFFFF</string>
	<key>LiveNewsTimeColor</key>
	<string>137|145|152</string>
	<key>LiveNewsDayColor</key>
	<string>247|251|255</string>
	<key>NewStockSectionBg</key>
	<string>17|24|31</string>
	<key>NewStockSection_Title_Color</key>
	<string>77|109|146</string>
	<key>NewStock_TitleCell_Color</key>
	<string>136|145|152</string>
	<key>NewStock_ContentCell_Color1</key>
	<string>255|255|255</string>
	<key>NewStock_ContentCell_Color2</key>
	<string>200|203|209</string>
	<key>NewStock_ContentCell_Code_Color</key>
	<string>115|120|130</string>
	<key>NewStock_Detail_Title_Color</key>
	<string>176|178|182</string>
	<key>NewStock_Detail_Content_Color</key>
	<string>#ffffff</string>
	<key>Detail_HushenZQ_JianKuang_Color</key>
	<string>255|255|255</string>
	<key>SplitModeNavigationSplitColor</key>
	<string>37|45|55</string>
	<key>SplitModeViewSplitColor</key>
	<string>37|45|55</string>
	<key>ATradeControllerLoadingViewBackGroundColor</key>
	<string>#000000|0.6</string>
	<key>ATradeBuyControllerBuyButtonBackGroundColor</key>
	<string>#0b7bcd</string>
	<key>ATradeSellControllerSellButtonBackGroundColor</key>
	<string>210|92|47</string>
	<key>kATradeButtonDisabledBackGroundColor</key>
	<string>#565b5e</string>
	<key>ATradeTradeControllerSearchSellBackGroundColor</key>
	<string>#1d2228</string>
	<key>ATradeSellControllerBorderColor</key>
	<string>210|92|47|0.5</string>
	<key>ATradeSubContainerControllerDecreaseButtonNormalColor</key>
	<string>#0b7bcd</string>
	<key>ATradeSubContainerControllerIncreaseButtonNormalColor</key>
	<string>#0b7bcd</string>
	<key>ATradeSubContainerControllerBorderColor</key>
	<string>#0b7bcb|0.5</string>
	<key>ATradeBuyControllerBorderColor</key>
	<string>#0b7bcb|0.5</string>
	<key>ATradeSubContainerControllerPlaceHolderColor</key>
	<string>#565b5e</string>
	<key>ATradeSubContainerControllerTextColor</key>
	<string>#ffffff</string>
	<key>ATradeSubContainerControllerFiveRecordDecreaseColor</key>
	<string>#00ff00</string>
	<key>ATradeSubContainerControllerFiveRecordIncreaseColor</key>
	<string>#e84034</string>
	<key>ATradeSubContainerControllerCompareWithYesterdayTextColor</key>
	<string>#8b9396</string>
	<key>ATradeTradeControllerSegementIndex_0_TintColor</key>
	<string>#0b7bcd</string>
	<key>ATradeTradeControllerSegementIndex_1_TintColor</key>
	<string>#d25c2f</string>
	<key>ATradeTradeControllerSegementNormalTextColor</key>
	<string>#8b9396</string>
	<key>ATradeTradeControllerSegementSelectedTextColor</key>
	<string>#ffffff</string>
	<key>ATradeSubContainerControllerFiveRecordUndefinedColor</key>
	<string>#ffffff</string>
	<key>ATradeLoginBackgroundColor</key>
	<string>#e7e7e7</string>
	<key>ATradeCodeViewBorderColor</key>
	<string>#c7c5c6</string>
	<key>ATradeBindingControllerBorderColor</key>
	<string>#0b7bcb|0.3</string>
	<key>kATradeBindingControllerTextFolderColor</key>
	<string>#565b5e</string>
	<key>ATradeBindingControllerBtnColor</key>
	<string>#0b7bcb</string>
	<key>ATradeBindingControllerForgetColor</key>
	<string>#0b7bcb</string>
	<key>kATradeForgetPasswordBackgroundColor</key>
	<string>#0E4B7B</string>
	<key>kATradeNoBrokerTipsTextColor</key>
	<string>#676b6e</string>
	<key>kATradeAddBrokerTextColor</key>
	<string>#0b7bcd</string>
	<key>ATradeAccountViewControllerAssetInforLabelColor</key>
	<string>#899198</string>
	<key>ATradeAccountViewControllerProfitLossIncreaseColor</key>
	<string>#e84034</string>
	<key>ATradeAccountViewControllerProfitLossDecreaseColor</key>
	<string>#00ff00</string>
	<key>ATradeAccountViewControllerProfitLossUndefineColor</key>
	<string>#ffffff</string>
	<key>ATradeAccountViewControllerCellProfitLossIncreaseColor</key>
	<string>ff3d01</string>
	<key>ATradeAccountViewControllerCellProfitLossDecreaseColor</key>
	<string>#00ff00</string>
	<key>ATradeAccountViewControllerCellProfitLossUndefineColor</key>
	<string>#ffffff</string>
	<key>ATradeAccountViewControllerTitleViewBackgroundColor</key>
	<string>#000000|0</string>
	<key>ATradeAccountViewControllerTitleTextColor</key>
	<string>#899198</string>
	<key>ATradeTradeControllerBackgroundColor</key>
	<string>#101419</string>
	<key>kATradeAccountCellLabelColor</key>
	<string>#ffffff</string>
	<key>ATradeAccountViewControllerSplitLineColor</key>
	<string>#1d2228</string>
	<key>ATradeAccountViewControllerSectionSplitLineColor</key>
	<string>#1d2228</string>
	<key>ATradeAccountViewControllerUnderTitleViewColor</key>
	<string>#1d2228</string>
	<key>kATradeAccountMenuCellSplitLineColor</key>
	<string>#1d2228</string>
	<key>kATradeTransferViewControllerSplitLineViewColor</key>
	<string>#0b7bcd|0.5</string>
	<key>kATradeTransferToBankSplitColor</key>
	<string>#d45c25|0.5</string>
	<key>kATradeTodayLabelColor</key>
	<string>#9aa0a6</string>
	<key>kATradeTodayDefaultStatusColor</key>
	<string>#63676a</string>
	<key>kATradeTodayBuyStatusLabelColor</key>
	<string>#0b7bcd</string>
	<key>kATradeTodaySellStatusLabelColor</key>
	<string>#d45c25</string>
	<key>kATradeTodayValueLabelColor</key>
	<string>#ffffff</string>
	<key>kATradeTodayViewBackGroundColor</key>
	<string>29|34|40</string>
	<key>kATradeMoreCellTextColor</key>
	<string>#ffffff</string>
	<key>ATradeTransferViewControllerBankNameColor</key>
	<string>#ffffff</string>
	<key>kATradeTranferHistoryLabelColor</key>
	<string>#9aa0a6</string>
	<key>kATradeTranferHistoryValueColor</key>
	<string>#ffffff</string>
	<key>kATradeTranferHistoryBackGroundColor</key>
	<string>29|34|40</string>
	<key>kATradeTranferHistoryContentBackGroundColor</key>
	<string>#000000</string>
	<key>kATradeTranferHistoryInStatusLabelColor</key>
	<string>#0b7bcd</string>
	<key>kATradeTranferHistoryOutStatusLabelColor</key>
	<string>#d45c25</string>
	<key>kATradeTranferHistorySplitColor</key>
	<string>#3e444a</string>
	<key>kAtradeTradeNoDataTextColor</key>
	<string>#565b5e</string>
	<key>kAtradeMoreControllerSplitColor</key>
	<string>#525960|0.4</string>
	<key>kAtradeHistoryDateBtnTitleColor</key>
	<string>#ffffff</string>
	<key>kAtradeHistoryDateBtnBorderColor</key>
	<string>#144f7b</string>
	<key>kAtradeHistoryQueryBtnColor</key>
	<string>#0b7bcd</string>
	<key>kATradeCellBackgroundColor</key>
	<string>0x1A202A</string>
	<key>kNewStockPurchaseTitleColor</key>
	<string>#ffffff</string>
	<key>kNewStockPurchaseContentColor</key>
	<string>#ffffff</string>
	<key>kNewStockPurchaseDescColor</key>
	<string>#899198</string>
	<key>kNewStockCellValueColor</key>
	<string>#ffffff</string>
	<key>kNewStockCellLabelColor</key>
	<string>#899198</string>
	<key>kNewStockCellSplitLineColor</key>
	<string>#525960|0.6</string>
	<key>ATradeBtnDisableColor</key>
	<string>#565b5e</string>
	<key>ATradeBtnDisableTitleColor</key>
	<string>#ffffff|0.4</string>
	<key>ATradeVertifyCodeTitleColor</key>
	<string>0xdadbdd</string>
	<key>ATradeVertifyCodePlaceholderColor</key>
	<string>0x3e4a51</string>
	<key>ATradeVertifyCodeBtnNormalColor</key>
	<string>0x3669a3</string>
	<key>ATradeVertifyCodeBtnDisableColor</key>
	<string>0x3e4a51</string>
	<key>ATradeVertifyCodeBtnHighlightColor</key>
	<string>0x244c7b</string>
	<key>ATradeVertifyCodeTipsColor</key>
	<string>0x3e4a51</string>
	<key>ATradeVertifyCodeBgColor</key>
	<string>0x111720</string>
	<key>kNewStockSegmentForcegroundColor</key>
	<string>0xffffff</string>
	<key>kNewStockSegmentBackgroundColor</key>
	<string>0x3f75b6</string>
	<key>ATradeAccountStepBgColor</key>
	<string>0x1d2228</string>
	<key>ATradeAccountTextColor</key>
	<string>#ffffff</string>
	<key>ATradeAccountLightTextColor</key>
	<string>#899198</string>
	<key>Portfolio_CombinationSelect_maskColor</key>
	<string>#16|20|25</string>
	<key>Portfolio_CombinationSelect_TableBgColor</key>
	<string>#1a212a</string>
	<key>Portfolio_CombinationSelect_BgColor</key>
	<string>#182029|0.85</string>
	<key>Portfolio_CombinationSelect_SectionBgColor</key>
	<string>#32465e|0.2</string>
	<key>Portfolio_CombinationSelect_NameSelectedColor</key>
	<string>#ffffff</string>
	<key>Portfolio_CombinationSelect_NameNormalColor</key>
	<string>#f7fbff</string>
	<key>Portfolio_CombinationSelect_TipsNormalColor</key>
	<string>#484e53</string>
	<key>Portfolio_CombinationTable_SeperatorColor</key>
	<string>#232c37</string>
	<key>Portfolio_CombinationEdit_newBtnColor</key>
	<string>#0d7aff</string>
	<key>Portfolio_CombinationEdit_textFieldTextColor</key>
	<string>#ffffff</string>
	<key>Portfolio_CombinationEdit_textFieldPlaceholderColor</key>
	<string>#575e66</string>
	<key>Portfolio_CombinationEdit_tipsColor</key>
	<string>#4f6678</string>
	<key>Portfolio_CombinationEdit_TitleColor</key>
	<string>#5a636b</string>
	<key>TC_Portfolio_ProfitLoss_TipsColor</key>
	<string>#c6ccd4</string>
	<key>Portfolio_CombinationADD_groupNameColor</key>
	<string>#ffffff</string>
	<key>Portfolio_CombinationADD_existLableColor</key>
	<string>#575f67</string>
	<key>Portfolio_DropMenuHeaderView_bgColor</key>
	<string>204|209|215</string>
	<key>Portfolio_DropMenuHeaderView_textColor</key>
	<string>#b4bfc8</string>
	<key>Portfolio_DropMenuCell_NameNormalColor</key>
	<string>#a2a6aa</string>
	<key>Portfolio_DropMenuCell_NameHighlightColor</key>
	<string>#ffffff</string>
	<key>Portfolio_GroupInfor_bgColor</key>
	<string>#ffffff</string>
	<key>Portfolio_GroupInfor_memberLableColor</key>
	<string>#000000</string>
	<key>Portfolio_GroupInfor_tipsLableBgColor</key>
	<string>#f3f3f3</string>
	<key>Portfolio_GroupInfor_tipsLableColor</key>
	<string>#aaaaaa</string>
	<key>Portfolio_GroupInfor_headNameColor</key>
	<string>#606060</string>
	<key>TenpayFundHeadViewBackgroundColor</key>
	<string>#192028</string>
	<key>TenpayFundHeadViewTitleColor</key>
	<string>247|251|255</string>
	<key>TenpayFundHeadViewSubTitleColor</key>
	<string>#899198</string>
	<key>TenpayFundSectionBorderColor</key>
	<string>#1d222b</string>
	<key>TenpayFundNameColor</key>
	<string>247|251|255</string>
	<key>TenpayFundCodeColor</key>
	<string>#899198</string>
	<key>TenpayFundFlucColor</key>
	<string>#ff3d01</string>
	<key>TenpayFundFlucTipColor</key>
	<string>#899198</string>
	<key>TenpayFundBuyBtnColor</key>
	<string>247|251|255</string>
	<key>TenpayFundBuyBtnSelectedColor</key>
	<string>#899198</string>
	<key>TenpayFundBuyBtnBorderColor</key>
	<string>#34404f</string>
	<key>TenpayFundBuyBtnBorderSelectedColor</key>
	<string>#192028</string>
	<key>kCStockDetailNoteDescriptionViewTextColor</key>
	<string>#ffffff|0.5</string>
	<key>kCStockDetailBottomMoreListCancelButtonNomral</key>
	<string>#3d76b8</string>
	<key>kCStockDetailBottomMoreListCancelButtonHighlighted</key>
	<string>#3d76b8|0.5</string>
	<key>kCStockEditNotesTitleViewStockNameLabelColor</key>
	<string>#a2a6ac</string>
	<key>kCStockEditNotesTitleViewLatestPriceLabelColor</key>
	<string>#7a7d81</string>
	<key>kCStockEditNotesTitleViewZhangDieFuLabelColor</key>
	<string>0x7a7d81</string>
	<key>kCStockEditNotesViewNotesTextBackgroundColor</key>
	<string>#101419</string>
	<key>kCStockEditNotesViewNotesTextTextColor</key>
	<string>#c9ced4</string>
	<key>kCStockEditNotesViewTitleViewBackgroundColor</key>
	<string>#14191e</string>
	<key>kCStockDetailBottomMoreListSeperatorViewColor</key>
	<string>34|43|53</string>
	<key>kCStockDetailBottomMoreListBaseViewBackgroundColor</key>
	<string>#000000|0.2</string>
	<key>Portfolio_GroupShare_textFieldBgColor</key>
	<string>#fefefe</string>
	<key>Portfolio_GroupShare_textFieldTextColor</key>
	<string>#000000</string>
	<key>Portfolio_GroupShare_textFieldPlaceHolderColor</key>
	<string>#a2a2a6</string>
	<key>Portfolio_GroupShare_modify_inputTipsColor</key>
	<string>#1479f0</string>
	<key>Portfolio_GroupShare_modify_inputTipsBeyondColor</key>
	<string>#f34a22</string>
	<key>Portfolio_GroupShare_blurBg_Color</key>
	<string>#f0f0f2</string>
	<key>Portfolio_GroupShare_FinishOk_Color</key>
	<string>#3d75b5</string>
	<key>Portfolio_GroupShareHeader_Desc_Color</key>
	<string>101|107|110</string>
	<key>kCompetitionMasterControllerRankTitleColor</key>
	<string>#ffffff</string>
	<key>kCompetitionMasterControllerTitleColor</key>
	<string>86|91|94</string>
	<key>kCompetitionMasterCellContentColor</key>
	<string>#ffffff</string>
	<key>kCompetitionSplitColor</key>
	<string>#1d2228</string>
	<key>kCompetitionMySubScriptionLabelColor</key>
	<string>111|118|124</string>
	<key>kCompetitionMySubScriptionBackgroundColor</key>
	<string>18|20|22</string>
	<key>kCompetitionMySubScriptionCellBackgroundColor</key>
	<string>#181c20</string>
	<key>kCompetitionMySubScriptionValueColor</key>
	<string>#ffffff</string>
	<key>kCompetionMySubScriptionBuyColor</key>
	<string>#0b7bcd</string>
	<key>kCompetionMySubScriptionSellColor</key>
	<string>#d45c25</string>
	<key>DetailYangYeGaiNianNameColor</key>
	<string>#00a8ff</string>
	<key>DetailHangYeGaiNianZhangColor</key>
	<string>#ab3401</string>
	<key>DetailHangYeGaiNianDieColor</key>
	<string>#2a7312</string>
	<key>CCImportImageViewControllerBackGroundColor</key>
	<string>#121416</string>
	<key>CCImportImageViewControllerDividingLineColor</key>
	<string>#0f6fb7</string>
	<key>CCImportImageViewControllerTitleLabelTextColor</key>
	<string>#49678b</string>
	<key>CCImportImageViewControllerStepTitleTextColor</key>
	<string>#0b7bcd</string>
	<key>CCImportImageViewControllerStepContentTextColor</key>
	<string>#899198</string>
	<key>CCImportImageViewControllerImportButtonBackgroundColor</key>
	<string>#2b6ebe</string>
	<key>CCImportImageViewControllerImportExampleButtonTextColor</key>
	<string>#899198</string>
	<key>CCIIndicatorViewControllerremindLabelTextColor</key>
	<string>#efefef</string>
	<key>CCIDisplayResultViewControllerImportButtonBackgroundColor</key>
	<string>#2b6ebe</string>
	<key>CCIDisplayResultViewControllerFeedBackViewTextColor</key>
	<string>#656b6e</string>
	<key>StockDetailAnalySisButtonNormalColor</key>
	<string>#8c8f94</string>
	<key>StockFundManagerNameColor</key>
	<string>#00a8ff</string>
	<key>StockManagerYejiFundNameColor</key>
	<string>#30a6ec</string>
	<key>DetailAnalysisZoushiColor</key>
	<string>247|251|255</string>
	<key>kOpenAccountAppBackgroundColor</key>
	<string>#1D2228</string>
	<key>kOpenAccountRecordButtonTextColor</key>
	<string>#417FC4</string>
	<key>kOpenAccountRecordTopTimerViewColor</key>
	<string>#0E1114</string>
	<key>kOpenAccountRiskWarningViewColor</key>
	<string>#131921</string>
	<key>kOpenAccountIntroduceTitleLabelTextColor</key>
	<string>#F3F2F1</string>
	<key>kOpenAccountStepViewTitleLabelTextColor</key>
	<string>#3F7BBF</string>
	<key>kOpenAccountVideontroduceContentLabelTextColor</key>
	<string>#E8E8E8</string>
	<key>kOpenAccountWhiteToBlueColor</key>
	<string>#3D76B8</string>
	<key>kOpenAccountNavigaBarBlueToBlackBackgroundColor</key>
	<string>#121416</string>
	<key>kOpenAccountNavigaBarBlueToBlackNavigaBarBlueColor</key>
	<string>#3D76B8</string>
	<key>kOpenAccountRiskTextColor</key>
	<string>#D3D9DC</string>
	<key>kOpenAccountProcessTradeCellBackgroundColor</key>
	<string>#181D25</string>
	<key>kOpenAccountProcessTradeCellTextColor</key>
	<string>#F9F9F9</string>
	<key>kOpenAccountProcessInforCellBackgroundColor</key>
	<string>#121416</string>
	<key>kOpenAccountProcessInforCellTextColor</key>
	<string>#5B6570</string>
	<key>kOpenAccountWarningTextColor</key>
	<string>#3B434C</string>
	<key>kOpenAccountIntroduceBankViewTextColor</key>
	<string>#565b5e</string>
	<key>kOpenAccountFinishedPhoneNumberColor</key>
	<string>#D5DADD</string>
	<key>kOpenAccountVertifyLineColor</key>
	<string>#161D26</string>
	<key>ATradeAccountCommonTitleColor</key>
	<string>#f7fbff</string>
	<key>ATradeAccountCommonSubTitleColor</key>
	<string>#6f7a86</string>
	<key>ATradeAccountCommonPlaceholderColor</key>
	<string>#495360</string>
	<key>ATradeAccountCommonTipsTextColor</key>
	<string>#656b6e</string>
	<key>kOpenAccountAllInfoBgColor</key>
	<string>#181d23</string>
	<key>kOpenAccountListSplitLineColor</key>
	<string>#6f7a87|0.2</string>
	<key>kOpenAccountTakeVideoTopTipsColor</key>
	<string>#656b6e</string>
	<key>kHotSearchSeeMore</key>
	<string>#3D76B8</string>
	<key>kHotSearchStockListLeftViewRedColor</key>
	<string>#CF0000</string>
	<key>kHotSearchStockListLeftViewGreenColor</key>
	<string>#19A815</string>
	<key>kSearchHotStockDetailListTopViewBackColor</key>
	<string>#101419</string>
	<key>kSearchHotStockDetailListTopViewTextColor</key>
	<string>#445E7F</string>
	<key>kSearchHotStockDetailListTopViewLineColor</key>
	<string>#1E2329</string>
	<key>kSearchHotStockDetailListTopViewTopLineColor</key>
	<string>#101419</string>
	<key>kSearchHotStockLevelFiveColor</key>
	<string>#9D0C0C</string>
	<key>kSearchHotStockLevelFourColor</key>
	<string>#CF0000</string>
	<key>kSearchHotStockLevelThreeColor</key>
	<string>#B13206</string>
	<key>kSearchHotStockLevelTwoColor</key>
	<string>#B45202</string>
	<key>kSearchHotStockLevelOneColor</key>
	<string>#C07B00</string>
	<key>kSearchHotStockRefreshTextColor</key>
	<string>#70777E</string>
	<key>kSearchHotStockGrayColor</key>
	<string>#5c6369</string>
	<key>kSearchHotEmptyLabelColor</key>
	<string>#565b5e</string>
	<key>kCStockDetailAnaylisysPjjgBarMcColor</key>
	<string>#00FE02</string>
	<key>kCStockDetailAnaylisysPjjgBarJcColor</key>
	<string>#CEE218</string>
	<key>kCStockDetailAnaylisysPjjgBarZxColor</key>
	<string>#FF9E23</string>
	<key>kCStockDetailAnaylisysPjjgBarZcColor</key>
	<string>#FD6022</string>
	<key>kCStockDetailAnaylisysPjjgBarMrColor</key>
	<string>#EC1201</string>
	<key>kCStockDetailAnaylisysPjjgBarBottomLineColor</key>
	<string>#182637</string>
	<key>kCStockDetailAnaylisysPjjgBarTextColor</key>
	<string>#899198</string>
	<key>kCStockDetailAnaylisysYanbaoZhaiyaoCellSellLineColor</key>
	<string>#45484D</string>
	<key>kGrpShareRecordsControllerMenuBgColor</key>
	<string>#33383d|0.98</string>
	<key>kGrpShareRecordsControllerMenuFontHighLightColor</key>
	<string>#4d8fd8</string>
	<key>kGrpShareRecordsControllerMenuFontNormalColor</key>
	<string>#AEB0B1</string>
	<key>kGrpShareNoDataTipsColor</key>
	<string>#AEB0B1</string>
	<key>kGrpShareRecordsControllerMenuSplitColor</key>
	<string>#474c51</string>
	<key>kCStockDetailNoteViewTitleColor</key>
	<string>#3d76b8</string>
	<key>kCStockDetailNoteViewTitleViewBackColor</key>
	<string>#1d2228</string>
	<key>kCFinanceCalendarColor</key>
	<string>#4d6d92</string>
	<key>kStudioSplitColor</key>
	<string>#dfdfdf</string>
	<key>kStudioHeaderBgColor</key>
	<string>#1d2228</string>
	<key>kNewsLiveBgColor</key>
	<string>#12161c</string>
	<key>kNewsLiveBlankViewColor</key>
	<string>#14191f</string>
	<key>kNewsLiveSpliteColor</key>
	<string>#13161d</string>
	<key>kNewsLiveCellBgColor</key>
	<string>#101419</string>
	<key>kNewsLiveCellTitleColor</key>
	<string>#919294</string>
	<key>kNewStockSepLineColor</key>
	<string>#20262d</string>
	<key>kNewStockDragonTigerTitleColor</key>
	<string>#ffffff</string>
	<key>kNewsLiveCellSubTitleColor</key>
	<string>#bbbbbc</string>
	<key>kNewsLiveCellNameColor</key>
	<string>#ffffff</string>
	<key>kNewsLiveCellNameColor2</key>
	<string>#ffffff</string>
	<key>kNewsLiveCellHotColor</key>
	<string>#f94b4b
</string>
	<key>kNewsLiveSectionTitleColor</key>
	<string>#2677b6</string>
	<key>kCHSNewEntryViewBackgroundColor</key>
	<string>#20262D</string>
	<key>kRecommandNewsLiveVipFollowBlueColor</key>
	<string>#195da0</string>
	<key>kRecommandNewsLiveVipFollowGrayColor</key>
	<string>#899198</string>
</dict>
</plist>
