<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LiveNewsDayColor</key>
	<string>247|251|255</string>
	<key>ATradeTradeControllerSegementSelectedTextColor</key>
	<string>#ffffff</string>
	<key>RefreshBackgroundColor</key>
	<string>46|107|177</string>
	<key>DefaultStockPriceColor</key>
	<string>12|13|15</string>
	<key>StockReportDetailTitleVerticalSeparatorColor</key>
	<string>146|176|200</string>
	<key>kATradeAccountMenuCellSplitLineColor</key>
	<string>#d0d5da</string>
	<key>DrawFlowZJLXIndPercentColor</key>
	<string>255|255|255</string>
	<key>CSearchBarTextColor</key>
	<string>255|255|255</string>
	<key>ATradeAccountViewControllerTitleTextColor</key>
	<string>#2e6bb1</string>
	<key>kATradeNoBrokerTipsTextColor</key>
	<string>#676b6e</string>
	<key>kATradeAddBrokerTextColor</key>
	<string>#2e6bb1</string>
	<key>NewsContentSepratorLine</key>
	<string>#e3e3e3</string>
	<key>DetailNewsDetailColor</key>
	<string>12|13|15</string>
	<key>ProfitLoss_SummaryHeaderContentColor</key>
	<string>12|13|15</string>
	<key>DetailPankouTabSelectedColor</key>
	<string>255|255|255</string>
	<key>NewStock_ContentCell_Color2</key>
	<string>#475B6B</string>
	<key>NewsListItemTitleColor</key>
	<string>139|145|152</string>
	<key>NewsSpecialTopicSectionTitleColor</key>
	<string>96|118|148</string>
	<key>NewsSpecialTopicAbstractColor</key>
	<string>12|13|15</string>
	<key>NewsSpecialTopicAbstractBackgroundColor</key>
	<string>226|230|233</string>
	<key>ProfitLoss_FundHeaderLabelColor</key>
	<string>96|119|151</string>
	<key>TradingRecordCellHistoryDateColor</key>
	<string>101|107|110</string>
	<key>StockReportDetailBottomSelectedTextColor</key>
	<string>227|240|252</string>
	<key>APHCaptionHeaderTextNormalColor</key>
	<string>61|118|184</string>
	<key>NewsFavSepratorColor</key>
	<string>208|213|218</string>
	<key>NewsListSepratorColor</key>
	<string>203|216|231</string>
	<key>DetailExchangeDecreaseColor</key>
	<string>171|58|58</string>
	<key>CombinationCreateNewTextFieldTextColor</key>
	<string>77|109|146</string>
	<key>TradingMainViewRecordCellOrderIDTextColor</key>
	<string>101|107|110</string>
	<key>UIPullHeaderLoadingColor</key>
	<string>101|165|239</string>
	<key>CNavigationTitleColor</key>
	<string>244|246|247</string>
	<key>ProfitLoss_SummaryHeaderLabelColor</key>
	<string>101|107|110</string>
	<key>DrawFlowZJCPosColor</key>
	<string>236|55|6</string>
	<key>NewStockSectionBg</key>
	<string>#DFEAF4</string>
	<key>TradingLoginBgColor</key>
	<string>221|226|231</string>
	<key>ATradeAccountViewControllerUnderTitleViewColor</key>
	<string>#9db9d9|0.3</string>
	<key>ATradeBindingControllerBorderColor</key>
	<string>#ffffff|0.6</string>
	<key>ATradeBindingControllerForgetColor</key>
	<string>#ffffff</string>
	<key>kATradeBindingControllerTextFolderColor</key>
	<string>#ffffff|0.6</string>
	<key>kATradeForgetPasswordBackgroundColor</key>
	<string>#2e6bB1</string>
	<key>ATradeBuyControllerBorderColor</key>
	<string>#0b7bcd|0.8</string>
	<key>ATradeControllerLoadingViewBackGroundColor</key>
	<string>#2e6bb1|0.3</string>
	<key>kAtradeMoreControllerSplitColor</key>
	<string>#c8cbd0</string>
	<key>kAtradeHistoryDateBtnTitleColor</key>
	<string>#000000</string>
	<key>kAtradeHistoryDateBtnBorderColor</key>
	<string>#2e6bb1</string>
	<key>kAtradeHistoryQueryBtnColor</key>
	<string>#2e6bb1</string>
	<key>ATradeBtnDisableColor</key>
	<string>#b4bdc5</string>
	<key>ATradeVertifyCodeTitleColor</key>
	<string>0x2e3033</string>
	<key>ATradeVertifyCodePlaceholderColor</key>
	<string>0x8ea2bd</string>
	<key>ATradeVertifyCodeBtnNormalColor</key>
	<string>0x448de0</string>
	<key>ATradeVertifyCodeBtnDisableColor</key>
	<string>0x8ea2bd</string>
	<key>ATradeVertifyCodeBtnHighlightColor</key>
	<string>0x1d67b3</string>
	<key>ATradeVertifyCodeTipsColor</key>
	<string>0x8ea2bd</string>
	<key>ATradeVertifyCodeBgColor</key>
	<string>0xd8eaff</string>
	<key>kNewStockSegmentForcegroundColor</key>
	<string>0x326daf</string>
	<key>kNewStockSegmentBackgroundColor</key>
	<string>0xffffff</string>
	<key>ATradeAccountStepBgColor</key>
	<string>0x1d2228</string>
	<key>kATradeCellBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>kNewStockCellValueColor</key>
	<string>#0c0d0f</string>
	<key>kNewStockCellLabelColor</key>
	<string>#656b6e</string>
	<key>kNewStockCellSplitLineColor</key>
	<string>#c8cbd0</string>
	<key>kNewStockPurchaseTitleColor</key>
	<string>#656b6e</string>
	<key>kNewStockPurchaseContentColor</key>
	<string>#0c0d0f</string>
	<key>kNewStockPurchaseDescColor</key>
	<string>#656b6e</string>
	<key>ATradeAccountTextColor</key>
	<string>#0c0d0f</string>
	<key>ATradeAccountLightTextColor</key>
	<string>#656b6e</string>
	<key>CombinationTitleColor</key>
	<string>255|255|255</string>
	<key>TradingRecordCellBuyColor</key>
	<string>41|115|197</string>
	<key>DrawFlowZJCTextColor</key>
	<string>57|62|69</string>
	<key>StockDetailBottomBarTextColor</key>
	<string>126|185|235</string>
	<key>DETAILYANSHIBORDERCOLOR</key>
	<string>150|215|255</string>
	<key>FlashUpBlock1</key>
	<string>126|24|24</string>
	<key>CNavigationTitleCodeColor</key>
	<string>244|246|247</string>
	<key>ActivityTipsBox_Switch_Badge_TextColor</key>
	<string>255|255|255</string>
	<key>ATradeSubContainerControllerFiveRecordDecreaseColor</key>
	<string>#1caa3d</string>
	<key>TradingMainViewTradeCellVertical2LineColor</key>
	<string>240|255|255</string>
	<key>NewsListReadNewsTitleColor</key>
	<string>101|107|110</string>
	<key>NewsListItemButtonNormalColor</key>
	<string>#ffffff</string>
	<key>NewsListItemButtonSelectedColor</key>
	<string>#59c6ff</string>
	<key>NewsListItemSepLineColor</key>
	<string>5085c3</string>
	<key>CombinationSelectTableHeadeTextColor</key>
	<string>46|107|177</string>
	<key>DefaultStockSeparateColor</key>
	<string>191|209|226</string>
	<key>CombinationStockNumDisableColor</key>
	<string>137|145|152</string>
	<key>ActivityTipsBox_Switch_Badge_BackgroundColor</key>
	<string>252|26|35</string>
	<key>NewsListReadAbstractColor</key>
	<string>101|107|110</string>
	<key>kATradeTodaySellStatusLabelColor</key>
	<string>#d45c25</string>
	<key>DefaultPriceRedColor</key>
	<string>#dc0505</string>
	<key>HeadTextColor</key>
	<string>75|95|128</string>
	<key>ProfitLoss_Detail_bgColor</key>
	<string>238|242|246</string>
	<key>kNewStockDragonTigerTitleColor</key>
	<string>14|14|14</string>
	<key>CPressedButtonGroupWithTitlesBorderColor</key>
	<string>46|107|177</string>
	<key>KLineGreenColor</key>
	<string>0|152|7</string>
	<key>ActivityCenter_CellBackgroundColor</key>
	<string>255|255|255</string>
	<key>FavSubTitleColor</key>
	<string>144|155|164</string>
	<key>FavoriteBackgroundColor</key>
	<string>238|242|246</string>
	<key>FavoriteSelectedBackgroundColor</key>
	<string>203|216|231</string>
	<key>DetailPankouValueColor</key>
	<string>96|119|151</string>
	<key>ATradeSubContainerControllerCompareWithYesterdayTextColor</key>
	<string>#565b5e</string>
	<key>TipsListHeaderColor</key>
	<string>98|114|136</string>
	<key>LiveNewsTimeColor</key>
	<string>137|145|152</string>
	<key>SettingViewBackgroundColor</key>
	<string>238|239|239</string>
	<key>ContentColorInBlock2</key>
	<string>255|255|255</string>
	<key>StockDetailTitleViewStockCodeColor</key>
	<string>168|204|245</string>
	<key>StockDetailTitleViewTongBackgroundColor</key>
	<string>#489bff</string>
	<key>ATradeTradeControllerSegementIndex_1_TintColor</key>
	<string>#d45c25</string>
	<key>ProfitLoss_TextFieldPlaceholderColor</key>
	<string>74|89|111</string>
	<key>ATradeAccountViewControllerSplitLineColor</key>
	<string>#63676a|0.3</string>
	<key>ATradeAccountViewControllerSectionSplitLineColor</key>
	<string>#eef2f6</string>
	<key>StockReportDetailBottomUnSelectedTextColor</key>
	<string>73|190|252</string>
	<key>NewsContentKeywordNormal</key>
	<string>67|154|255</string>
	<key>WXDetailBgColor</key>
	<string>227|240|252</string>
	<key>kATradeTodayLabelColor</key>
	<string>#282b2f</string>
	<key>kATradeTodayDefaultStatusColor</key>
	<string>#63676a|0.5</string>
	<key>DetailViewEqualLineColor</key>
	<string>232|232|232</string>
	<key>CPressedButtonGroupWithTitlesNormalColor_Report</key>
	<string>187|217|247</string>
	<key>PressedButtonBottomLineViewBackgroundColor</key>
	<string>#cbd8e7</string>
	<key>TradingTitleColor</key>
	<string>235|244|254</string>
	<key>StockReportDetailHorizontalSeparatorColor</key>
	<string>189|202|216</string>
	<key>NewsContentKeywordHighLight</key>
	<string>76|130|182</string>
	<key>TipsListSelectedColor</key>
	<string>239|242|244</string>
	<key>PortfolioLoginCellDividerColor</key>
	<string>190|202|213</string>
	<key>TradingMainViewRecordCellOrderIDLabelTextColor</key>
	<string>12|13|15</string>
	<key>DrawFlowZJLXDOutColor</key>
	<string>72|190|8</string>
	<key>CombinationCreateNewTextFieldBgColor</key>
	<string>48|52|58</string>
	<key>TradingMainViewRecordCellPlacementDateTextColor</key>
	<string>30|72|95</string>
	<key>StockReportFieldBGColor</key>
	<string>223|243|255</string>
	<key>TradingMainViewTradeStockCodeTextColor</key>
	<string>76|108|132</string>
	<key>StockReportDetailVerticalForLabelSeparatorColor</key>
	<string>154|179|202</string>
	<key>kATradeTranferHistoryLabelColor</key>
	<string>#282b2f</string>
	<key>DetailLineDecreaseColor</key>
	<string>28|170|61</string>
	<key>LabelColorInBlock2</key>
	<string>168|204|245</string>
	<key>FenzhongDropViewTextColor</key>
	<string>238|238|238</string>
	<key>FenzhongCellSelectedColor</key>
	<string>#597fb1</string>
	<key>ATradeAccountViewControllerProfitLossIncreaseColor</key>
	<string>#fc4a4a</string>
	<key>NavigationBarTintColor</key>
	<string>255|255|255</string>
	<key>ActivityTipsBox_Switch_Badge_BorderColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_CellDateColor</key>
	<string>80|103|129</string>
	<key>ATradeSubContainerControllerTextColor</key>
	<string>#0c0d0f</string>
	<key>StockReportDetailNormalCellBackgroundColor</key>
	<string>227|240|252</string>
	<key>TradingMainViewTradeBenjinTextColor</key>
	<string>30|72|95</string>
	<key>AlertWaitingViewTextColor</key>
	<string>11|123|206</string>
	<key>NewStockSection_Title_Color</key>
	<string>#2E6BBE</string>
	<key>TradingRecordCellSellColor</key>
	<string>255|102|0</string>
	<key>StockMoveTextNormalColor</key>
	<string>255|255|255</string>
	<key>StockReportFieldNameColor</key>
	<string>67|83|105</string>
	<key>CombinationNameDisableColor</key>
	<string>137|145|152</string>
	<key>StockReportDetailTitleHorizontalSeparatorColor</key>
	<string>83|151|215</string>
	<key>DetailNewsHeadNameColor</key>
	<string>101|107|110</string>
	<key>DetailLandscapeFuquanBGColor</key>
	<string>238|242|246</string>
	<key>TradingMainViewLabelTextColor</key>
	<string>101|107|110</string>
	<key>TradingMainViewTradeScrollViewBackgroundColor</key>
	<string>238|242|246</string>
	<key>CustomButtonTitleColorForRedStyle</key>
	<string>218|218|218</string>
	<key>DefaultSelectedBackgroundColor</key>
	<string>203|216|231</string>
	<key>WXDetailNameShadowColor</key>
	<string>151|185|211</string>
	<key>DetailInBlock3ToolBarColor</key>
	<string>168|204|245</string>
	<key>LoginViewLoginTitleColor</key>
	<string>20|35|50</string>
	<key>ProfitLoss_EditContentColor</key>
	<string>74|89|111</string>
	<key>DrawFlowZJLXIndTextColor</key>
	<string>0|0|0</string>
	<key>StockReportFieldValueColor</key>
	<string>67|83|105</string>
	<key>TradingMainViewContentTextColor</key>
	<string>0|0|0</string>
	<key>ATradeAccountViewControllerAssetInforLabelColor</key>
	<string>#cce3fe</string>
	<key>DefaultStockFlucColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_TextFieldTextColor</key>
	<string>74|89|111</string>
	<key>FavTitleColor</key>
	<string>57|62|69</string>
	<key>ActivityTipsBox_Switch_UnsetBackgroundColor</key>
	<string>50|109|175</string>
	<key>TradingLoginTextFieldBackgroundColor</key>
	<string>227|243|255</string>
	<key>RTViewZeroValueColor</key>
	<string>143|149|152</string>
	<key>GroupRTViewZeroValueColor</key>
	<string>#0c0d0f</string>
	<key>GroupRTViewRedColor</key>
	<string>#dc0000</string>
	<key>GroupRTViewGreenColor</key>
	<string>#1caa3d</string>
	<key>ATradeSubContainerControllerFiveRecordUndefinedColor</key>
	<string>#000000</string>
	<key>LoginViewInputFieldColor</key>
	<string>117|127|134</string>
	<key>PriceGreenColorBlock1Real</key>
	<string>0|223|0</string>
	<key>CPressedButtonGroupWithTitlesSelectedColor_Report</key>
	<string>89|198|255</string>
	<key>TradingMainViewAccountSectionBGColor</key>
	<string>69|100|130</string>
	<key>StockDetailLoadingColor</key>
	<string>255|255|255</string>
	<key>DetailLandscapePankouValueColor</key>
	<string>12|13|15</string>
	<key>StockReportFieldBorderColor</key>
	<string>137|198|237</string>
	<key>NewsListUnreadNewsTitleColor1</key>
	<string>12|13|15</string>
	<key>TradingLoginTextFieldTextColor</key>
	<string>30|72|95</string>
	<key>NewsListNewsTimeColor</key>
	<string>63|84|100</string>
	<key>DrawFlowZJLXSepColor</key>
	<string>255|255|255</string>
	<key>kATradeTransferViewControllerSplitLineViewColor</key>
	<string>#8eaed3</string>
	<key>PriceGrayColorBlock1</key>
	<string>255|255|255</string>
	<key>StockUDPriceGrayColor</key>
	<string>#9aa4ad</string>
	<key>NewsListStockNewsReadNameColor</key>
	<string>114|129|150</string>
	<key>TradingMainViewTradeAddSubTextColor</key>
	<string>30|72|95</string>
	<key>NewsListUnreadNewsTitleColor</key>
	<string>12|13|15</string>
	<key>ActivityCenter_ActivityCaptionColor</key>
	<string>41|47|55</string>
	<key>CombinationSelectTableBgColor</key>
	<string>238|242|246</string>
	<key>PriceGreenColorBlock1</key>
	<string>28|170|61</string>
	<key>TradingLoginBrokerageNameColor</key>
	<string>18|76|114</string>
	<key>RefreshMarketTableHeaderColor</key>
	<string>238|242|246</string>
	<key>StatusBarBackgroundColor</key>
	<string>46|107|177</string>
	<key>kATradeTodayValueLabelColor</key>
	<string>#0c0d0f</string>
	<key>StockReportTitleColor</key>
	<string>96|119|151</string>
	<key>TradingMainViewRecordCellGeneralSellLabelColor</key>
	<string>101|107|110</string>
	<key>SplitModeNavigationSplitColor</key>
	<string>22|81|139</string>
	<key>TradingMainViewRecordCellGeneralSellValueColor</key>
	<string>12|13|15</string>
	<key>StockReportDetailLabelTextColor_L1</key>
	<string>14|72|110</string>
	<key>ActivityTipsBox_Switch_SetTextColor</key>
	<string>34|95|162</string>
	<key>TipsNumberCellButtonTextColor</key>
	<string>162|206|255</string>
	<key>StockReportDetailLabelTextColor_L2</key>
	<string>22|102|155</string>
	<key>CPressedButtonGroupWithTitlesBGSelectedColor_Report</key>
	<string>42|82|127</string>
	<key>DetailPankouZeroValueColor</key>
	<string>143|149|152</string>
	<key>DrawFlowZJLXMOutColor</key>
	<string>69|148|26</string>
	<key>DefaultStockCodeColor</key>
	<string>101|107|110</string>
	<key>DrawFlowZJLXMInColor</key>
	<string>236|55|6</string>
	<key>ActivityTipsBox_Switch_BackgroundColor</key>
	<string>151|197|250</string>
	<key>StockReportDetailLabelTextColor_L3</key>
	<string>80|123|152</string>
	<key>RTViewTitleColor</key>
	<string>101|107|110</string>
	<key>StockReportDetailLabelTextColor_L4</key>
	<string>80|123|152</string>
	<key>NewsListContentColor</key>
	<string>12|13|15</string>
	<key>NewsListItemSelectedColor</key>
	<string>#2e6bb1</string>
	<key>TradingLoginLabelTextColor</key>
	<string>18|67|106</string>
	<key>TableHeaderTextNormalColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewRecordCellBackgroundColor</key>
	<string>238|242|246</string>
	<key>ActivityTipsBox_Switch_UnsetTextColor</key>
	<string>145|187|239</string>
	<key>NewStock_Detail_Title_Color</key>
	<string>#656B6E</string>
	<key>ProfitLoss_CellLabelColor</key>
	<string>74|89|111</string>
	<key>StockDetailTitleViewStockNameColor</key>
	<string>255|255|255</string>
	<key>StockMoveTextHilightColor</key>
	<string>90|167|255</string>
	<key>PriceRedColorBlock1</key>
	<string>220|0|0</string>
	<key>NewsListSepratorColor1</key>
	<string>208|213|218</string>
	<key>CPressedButtonGroupWithTitlesSelectedColor</key>
	<string>#326daf</string>
	<key>YanShiColorInBlock1</key>
	<string>140|143|138</string>
	<key>DetailPankouTabDefaultColor</key>
	<string>96|119|151</string>
	<key>TradingMainViewRecordCellGeneralBuyLabelColor</key>
	<string>101|107|110</string>
	<key>NewsListStockNewsReadNameColor1</key>
	<string>125|125|125</string>
	<key>DefaultPriceGreenColor</key>
	<string>28|170|61</string>
	<key>ActivityCenter_TableviewBackgroundColor</key>
	<string>239|239|239</string>
	<key>CAlertViewTextStyle2Color</key>
	<string>255|255|255</string>
	<key>ActivityCenter_AdvertiseMessageColor</key>
	<string>186|198|212</string>
	<key>kATradeMoreCellTextColor</key>
	<string>#000000</string>
	<key>DetailLandscapeFuquanBorder</key>
	<string>155|187|224</string>
	<key>NewsListHeadViewColor</key>
	<string>217|230|243</string>
	<key>ProfitLoss_HeaderBackgroundColor</key>
	<string>46|107|177</string>
	<key>NewsListStockNewsUnreadNameColor</key>
	<string>114|129|150</string>
	<key>TradingLoginBrokerageBgColor</key>
	<string>174|205|228</string>
	<key>ProfitLoss_CellSeperateLineColor</key>
	<string>189|202|216</string>
	<key>ProfitLoss_SummaryZeroCellBgColor</key>
	<string>#d9e7f4</string>
	<key>NewStock_ContentCell_Color1</key>
	<string>#0C0D0F</string>
	<key>ATradeTransferViewControllerBankNameColor</key>
	<string>#000000</string>
	<key>kATradeTranferHistoryValueColor</key>
	<string>#000000</string>
	<key>kATradeTranferHistoryBackGroundColor</key>
	<string>#fffff</string>
	<key>kATradeTranferHistoryContentBackGroundColor</key>
	<string>#eef2f6</string>
	<key>kATradeTranferHistorySplitColor</key>
	<string>#c8cbd0</string>
	<key>DetailLineIncreaseColor</key>
	<string>220|0|0</string>
	<key>DrawFlowZJLXDInColor</key>
	<string>248|128|0</string>
	<key>DetailPankouTitleColor</key>
	<string>96|119|151</string>
	<key>KLineRedColor</key>
	<string>252|38|38</string>
	<key>NewsContentTimeColor</key>
	<string>135|147|157</string>
	<key>PortfolioLoginCellBGColor</key>
	<string>227|232|235</string>
	<key>CombinationStockNumNormalColor</key>
	<string>57|88|124</string>
	<key>StockMoveTextDisableColor</key>
	<string>83|145|216</string>
	<key>PriceRedColorBlock1Real</key>
	<string>252|74|74</string>
	<key>NewsListUnreadAbstractColor1</key>
	<string>125|125|125</string>
	<key>NewsListSelectedBackgroudColor</key>
	<string>217|217|217</string>
	<key>TradingMainViewRecordCellGeneralBuyValueColor</key>
	<string>12|13|15</string>
	<key>LoginViewNameColor</key>
	<string>20|35|50</string>
	<key>NewsListReadNewsTitleColor1</key>
	<string>92|97|100</string>
	<key>StockReportDetailBackgroundColor</key>
	<string>227|240|252</string>
	<key>Market_HGT_LimitDataLabelColor</key>
	<string>12|13|15</string>
	<key>TradingMainViewBackgroundColor</key>
	<string>238|242|246</string>
	<key>ProfitLoss_TextFieldBgColor</key>
	<string>29|34|40</string>
	<key>ProfitLoss_SummarySectionHeaderLabelColor</key>
	<string>#607797</string>
	<key>ProfitLoss_SummarySectionHeaderLabelHighlightColor</key>
	<string>#3D76B8</string>
	<key>LabelColorInBlock3</key>
	<string>168|204|245</string>
	<key>GroupRTViewTitleColor</key>
	<string>#326daf</string>
	<key>GroupRTViewValueColor</key>
	<string>#3f5464</string>
	<key>DetailNewsGroupNameColor</key>
	<string>46|107|177</string>
	<key>CPressedButtonGroupWithTitlesNormalColor</key>
	<string>#7c9cc6</string>
	<key>NewsListStockNewsUnreadNameColor1</key>
	<string>125|125|125</string>
	<key>CombinationCreateNewTextFieldPlaceholderTextColor</key>
	<string>162|158|153</string>
	<key>StockSelectKMLineColor</key>
	<string>137|209|247</string>
	<key>StockReportDetailVerticalSeparatorColor</key>
	<string>154|179|202</string>
	<key>NewsListSecondTimeColor</key>
	<string>63|84|100</string>
	<key>DefaultSelectedBackgroundColor1</key>
	<string>203|216|231</string>
	<key>DefaultStockSubTitleColor</key>
	<string>114|129|150</string>
	<key>DetailLandscapeFuquanTitleNormal</key>
	<string>12|13|15</string>
	<key>TableHeaderTextSelectColor</key>
	<string>89|198|255</string>
	<key>TradingMainViewPickerTextColor</key>
	<string>215|225|239</string>
	<key>MLineBaseColor</key>
	<string>6|112|193</string>
	<key>Detail_HushenZQ_JianKuang_Color</key>
	<string>16|19|24</string>
	<key>NewStock_Detail_Content_Color</key>
	<string>#0C0D0F</string>
	<key>ATradeBtnDisableTitleColor</key>
	<string>#ffffff</string>
	<key>ATradeAccountViewControllerProfitLossUndefineColor</key>
	<string>#ffffff</string>
	<key>ATradeAccountViewControllerCellProfitLossIncreaseColor</key>
	<string>#dc0000</string>
	<key>ATradeAccountViewControllerCellProfitLossDecreaseColor</key>
	<string>#1caa3d</string>
	<key>ATradeAccountViewControllerCellProfitLossUndefineColor</key>
	<string>#000000</string>
	<key>CPressedButtonGroupWithTitlesBGSelectedColor</key>
	<string>202|216|231</string>
	<key>ATradeAccountViewControllerTitleViewBackgroundColor</key>
	<string>#d9e6f3</string>
	<key>ATradeTradeControllerSegementIndex_0_TintColor</key>
	<string>#2e6bb1</string>
	<key>NewsListNewsTimeColor1</key>
	<string>139|145|152</string>
	<key>StockReportDetailTitleBackgroundColor</key>
	<string>227|240|252</string>
	<key>DETAILYANSHIFONTCOLOR</key>
	<string>112|180|223</string>
	<key>NewsListBackgroudColor</key>
	<string>238|242|246</string>
	<key>NewsListReadAbstractColor1</key>
	<string>125|125|125</string>
	<key>DefaultStockTitleColor</key>
	<string>20|35|50</string>
	<key>NewsListStockNewsTimeColor</key>
	<string>63|84|100</string>
	<key>NewsListUnreadAbstractColor</key>
	<string>101|107|110</string>
	<key>ATradeTradeControllerBackgroundColor</key>
	<string>#EEF2F6</string>
	<key>ATradeTradeControllerSearchSellBackGroundColor</key>
	<string>#e0e4e9</string>
	<key>NewsContentTitleColor</key>
	<string>57|62|69</string>
	<key>NewsContentTextColor</key>
	<string>57|62|69</string>
	<key>DetailLandscapePankouHeaderBackground</key>
	<string>224|232|242</string>
	<key>TradingMainViewTradeCellVertical1LineColor</key>
	<string>131|165|197</string>
	<key>CPressedButtonGroupWithTitlesBorderColor_Report</key>
	<string>35|85|142</string>
	<key>DrawFlowZJCNagColor</key>
	<string>69|148|26</string>
	<key>kATradeTodayBuyStatusLabelColor</key>
	<string>#0e6eb6</string>
	<key>ATradeAccountViewControllerProfitLossDecreaseColor</key>
	<string>#00df00</string>
	<key>TradingMainViewTitleTextColor</key>
	<string>42|109|183</string>
	<key>kATradeAccountCellLabelColor</key>
	<string>#0c0d0f</string>
	<key>StockDetailRTTopViewBackgroundColor</key>
	<string>50|109|175</string>
	<key>StockReportDetailTitleTextColor</key>
	<string>14|72|110</string>
	<key>SearchBarplaceholderColor</key>
	<string>202|210|215</string>
	<key>ProfitLoss_HeaderContentColor</key>
	<string>255|255|255</string>
	<key>CombinationNameNormalColor</key>
	<string>46|107|177</string>
	<key>ATradeTradeControllerSegementNormalTextColor</key>
	<string>#656b6e</string>
	<key>DetailLandscapeFuquanTitleSelected</key>
	<string>13|126|255</string>
	<key>TradingMainViewAccountSectionFRColor</key>
	<string>42|109|183</string>
	<key>RefreshTitleColor</key>
	<string>121|158|201</string>
	<key>DefaultBackgroundColor</key>
	<string>238|242|246</string>
	<key>StockReportDetailHorizontalSeparator1Color</key>
	<string>195|223|248</string>
	<key>CombinationTitleClickColor</key>
	<string>24|87|158</string>
	<key>ProfitLoss_FundHeaderContentColor</key>
	<string>12|13|15</string>
	<key>DetailLandscapePankouHeaderTitle</key>
	<string>134|141|144</string>
	<key>WXDetailNameColor</key>
	<string>14|72|110</string>
	<key>DefaultStockNameColor</key>
	<string>12|13|15</string>
	<key>ProfitLoss_EditLableColor</key>
	<string>96|119|151</string>
	<key>NewsListHeadNameColor</key>
	<string>46|107|177</string>
	<key>MLineAvgColor</key>
	<string>255|122|14</string>
	<key>Market_HGT_LimitDataContentColor</key>
	<string>0|0|0</string>
	<key>RTViewValueColor</key>
	<string>12|13|15</string>
	<key>DetailLandscapePankouTitleColor</key>
	<string>101|107|110</string>
	<key>DETAILYANSHIFILLCOLOR</key>
	<string>214|230|250</string>
	<key>CMarketTableHeaderTextColor</key>
	<string>255|255|255</string>
	<key>TradingMainViewHistoryTableViewBackgroundColor</key>
	<string>238|242|246</string>
	<key>TitleButtonGroupNormalColor</key>
	<string>58|145|202</string>
	<key>TitleUnderlineColor</key>
	<string>#5085c3</string>
	<key>NewStock_TitleCell_Color</key>
	<string>#656B6E</string>
	<key>FlasfDownBlock1</key>
	<string>9|76|36</string>
	<key>NewStock_ContentCell_Code_Color</key>
	<string>#656B6E</string>
	<key>TradingMainViewTradeCellBackgroundColor</key>
	<string>194|224|250</string>
	<key>SplitModeViewSplitColor</key>
	<string>22|81|139</string>
	<key>TitleButtonGroupSelectedColor</key>
	<string>255|255|255</string>
	<key>CustomButtonTitleColorForNormalStyle</key>
	<string>255|255|255</string>
	<key>kATradeTodayViewBackGroundColor</key>
	<string>#ffffff</string>
	<key>ProfitLoss_Detail_graphicbgColor</key>
	<string>238|242|246</string>
	<key>ProfitLoss_SpliteLabelColor</key>
	<string>#99a1ad</string>
	<key>ProfitLoss_HeaderLabelColor</key>
	<string>255|255|255</string>
	<key>ProfitLoss_HeaderSelectViewSelectedColor</key>
	<string>#B9CCDD|0.94</string>
	<key>ProfitLoss_HeaderSelectViewNormalColor</key>
	<string>#D3E2EF|0.94</string>
	<key>ProfitLoss_HeaderSelectViewTextColor</key>
	<string>#607797</string>
	<key>ProfitLoss_HeaderSelectViewTilteTextColor</key>
	<string>#3D76B8</string>
	<key>ProfitLoss_HeaderSelectViewBorderColor</key>
	<string>#BDCAD8</string>
	<key>ProfitLoss_viewProfitLossTextColor</key>
	<string>#607797</string>
	<key>ProfitLoss_positionProfitLossTextColor</key>
	<string>#607797</string>
	<key>ProfitLoss_todayProfitLossTextColor</key>
	<string>#3D76B8</string>
	<key>ProfitLoss_totalProfitLossTextColor</key>
	<string>#607797</string>
	<key>ProfitLoss_stockMarketValueContentTextColor</key>
	<string>#0C0D0F</string>
	<key>ProfitLoss_currencyTypeItemColor</key>
	<string>#477DC1</string>
	<key>TradingMainViewTodayOrderTableViewBackgroundColor</key>
	<string>238|242|246</string>
	<key>ContentColorInBlock3</key>
	<string>255|255|255</string>
	<key>TipsNumberCellNumberColor</key>
	<string>162|206|255</string>
	<key>ATradeSubContainerControllerPlaceHolderColor</key>
	<string>#a0a8af</string>
	<key>kAtradeTradeNoDataTextColor</key>
	<string>#b5bdc4</string>
	<key>kATradeButtonDisabledBackGroundColor</key>
	<string>#b4bdc5</string>
	<key>DefaultStockInvalidColor</key>
	<string>167|173|178</string>
	<key>Portfolio_CombinationSelect_maskColor</key>
	<string>#16|20|25</string>
	<key>Portfolio_CombinationSelect_TableBgColor</key>
	<string>#3e7fc8</string>
	<key>Portfolio_CombinationSelect_BgColor</key>
	<string>#115ba0|0.8</string>
	<key>Portfolio_CombinationSelect_SectionBgColor</key>
	<string>#25548d|0.45</string>
	<key>Portfolio_CombinationSelect_NameSelectedColor</key>
	<string>#ffffff</string>
	<key>Portfolio_CombinationSelect_NameNormalColor</key>
	<string>#d3e8f8</string>
	<key>Portfolio_CombinationSelect_TipsNormalColor</key>
	<string>#7ea1c3</string>
	<key>Portfolio_CombinationTable_SeperatorColor</key>
	<string>#5184b5</string>
	<key>Portfolio_CombinationEdit_newBtnColor</key>
	<string>#59bfff</string>
	<key>Portfolio_CombinationEdit_textFieldTextColor</key>
	<string>#f7fbff</string>
	<key>Portfolio_DropMenuHeaderView_bgColor</key>
	<string>129|164|203</string>
	<key>Portfolio_DropMenuCell_NameNormalColor</key>
	<string>#cbd9e9</string>
	<key>Portfolio_DropMenuCell_NameHighlightColor</key>
	<string>#ffffff</string>
	<key>Portfolio_CombinationEdit_textFieldPlaceholderColor</key>
	<string>#86a6cb</string>
	<key>Portfolio_CombinationEdit_tipsColor</key>
	<string>#82a2c5</string>
	<key>Portfolio_CombinationEdit_TitleColor</key>
	<string>#a3b5ce</string>
	<key>TC_Portfolio_ProfitLoss_TipsColor</key>
	<string>#424547</string>
	<key>Portfolio_CombinationADD_groupNameColor</key>
	<string>#f7fbff</string>
	<key>Portfolio_CombinationADD_existLableColor</key>
	<string>#81a5ca</string>
	<key>TenpayFundHeadViewBackgroundColor</key>
	<string>#cad8e7</string>
	<key>TenpayFundHeadViewTitleColor</key>
	<string>#326daf</string>
	<key>TenpayFundHeadViewSubTitleColor</key>
	<string>#326daf</string>
	<key>TenpayFundSectionBorderColor</key>
	<string>#cad8e7</string>
	<key>TenpayFundNameColor</key>
	<string>#326daf</string>
	<key>TenpayFundCodeColor</key>
	<string>#326daf</string>
	<key>TenpayFundFlucColor</key>
	<string>#fc4a4a</string>
	<key>TenpayFundFlucTipColor</key>
	<string>#326daf</string>
	<key>TenpayFundBuyBtnColor</key>
	<string>#326daf</string>
	<key>TenpayFundBuyBtnSelectedColor</key>
	<string>#eef2f6</string>
	<key>TenpayFundBuyBtnBorderColor</key>
	<string>#326daf</string>
	<key>TenpayFundBuyBtnBorderSelectedColor</key>
	<string>#eef2f6</string>
	<key>kCStockEditNotesViewNotesTextBackgroundColor</key>
	<string>#eef2f6</string>
	<key>kCStockEditNotesViewNotesTextTextColor</key>
	<string>#4a596f</string>
	<key>kCStockEditNotesViewTitleViewBackgroundColor</key>
	<string>#dfe8f1</string>
	<key>kCStockEditNotesTitleViewStockNameLabelColor</key>
	<string>#2e6bb1</string>
	<key>kCStockEditNotesTitleViewLatestPriceLabelColor</key>
	<string>#2e6bb1</string>
	<key>kCStockEditNotesTitleViewZhangDieFuLabelColor</key>
	<string>#2e6bb1</string>
	<key>kCStockDetailBottomMoreListCancelButtonNomral</key>
	<string>#2e6bb1</string>
	<key>kCStockDetailBottomMoreListCancelButtonHighlighted</key>
	<string>#2e6bb1|0.5</string>
	<key>kCStockDetailNoteDescriptionViewTextColor</key>
	<string>#2e6bb1</string>
	<key>kCStockDetailBottomMoreListSeperatorViewColor</key>
	<string>216|220|225</string>
	<key>kCStockDetailBottomMoreListBaseViewBackgroundColor</key>
	<string>#000000|0.2</string>
	<key>Portfolio_GroupShare_FinishOk_Color</key>
	<string>#3d75b5</string>
	<key>NewsPriceGreenColorBlock1Real</key>
	<string>#1caa3d</string>
	<key>NewsPriceRedColorBlock1Real</key>
	<string>#dc0000</string>
	<key>Portfolio_GroupShareHeader_Desc_Color</key>
	<string>201|207|210</string>
	<key>kCompetitionMasterControllerRankTitleColor</key>
	<string>#000000</string>
	<key>kCompetitionMasterControllerTitleColor</key>
	<string>#656b6e</string>
	<key>kCompetitionMasterCellContentColor</key>
	<string>#000000</string>
	<key>kCompetitionSplitColor</key>
	<string>#c8cbd0</string>
	<key>kCompetitionMySubScriptionValueColor</key>
	<string>#000000</string>
	<key>kCompetitionMySubScriptionCellBackgroundColor</key>
	<string>#ffffff</string>
	<key>kCompetitionMySubScriptionBackgroundColor</key>
	<string>#eef2f6</string>
	<key>kCompetitionMySubScriptionLabelColor</key>
	<string>#656b6e</string>
	<key>kCompetionMySubScriptionBuyColor</key>
	<string>#0b7bcd</string>
	<key>kCompetionMySubScriptionSellColor</key>
	<string>#d45c25</string>
	<key>DetailYangYeGaiNianNameColor</key>
	<string>#00a8ff</string>
	<key>DetailHangYeGaiNianZhangColor</key>
	<string>252|74|74</string>
	<key>DetailHangYeGaiNianDieColor</key>
	<string>0|223|0</string>
	<key>CCImportImageViewControllerBackGroundColor</key>
	<string>#eef2f6</string>
	<key>CCImportImageViewControllerDividingLineColor</key>
	<string>#0f6fb7</string>
	<key>CCImportImageViewControllerTitleLabelTextColor</key>
	<string>#656b6e</string>
	<key>CCImportImageViewControllerStepTitleTextColor</key>
	<string>#0c0d0f</string>
	<key>CCImportImageViewControllerStepContentTextColor</key>
	<string>#656b6e</string>
	<key>CCImportImageViewControllerImportButtonBackgroundColor</key>
	<string>#2e6bb1</string>
	<key>CCImportImageViewControllerImportExampleButtonTextColor</key>
	<string>#656b6e</string>
	<key>CCIIndicatorViewControllerRemindLabelTextColor</key>
	<string>#0c0d0f</string>
	<key>CCIDisplayResultViewControllerImportButtonBackgroundColor</key>
	<string>#2e6bb1</string>
	<key>CCIDisplayResultViewControllerFeedBackViewTextColor</key>
	<string>#49678b</string>
	<key>StockDetailAnalySisButtonNormalColor</key>
	<string>#8c8f94</string>
	<key>StockFundManagerNameColor</key>
	<string>#00a8ff</string>
	<key>StockManagerYejiFundNameColor</key>
	<string>#00a8ff</string>
	<key>DetailAnalysisZoushiColor</key>
	<string>247|251|255</string>
	<key>kOpenAccountAppBackgroundColor</key>
	<string>#2D6BB1</string>
	<key>kOpenAccountRecordButtonTextColor</key>
	<string>#417FC4</string>
	<key>kOpenAccountRecordTopTimerViewColor</key>
	<string>#173558</string>
	<key>kOpenAccountRiskWarningViewColor</key>
	<string>#A1BCDA</string>
	<key>kOpenAccountIntroduceTitleLabelTextColor</key>
	<string>#000000</string>
	<key>kOpenAccountStepViewTitleLabelTextColor</key>
	<string>#53BBF4</string>
	<key>kOpenAccountVideontroduceContentLabelTextColor</key>
	<string>#383A3B</string>
	<key>kOpenAccountWhiteToBlueColor</key>
	<string>#FFFFFF</string>
	<key>kOpenAccountNavigaBarBlueToBlackBackgroundColor</key>
	<string>#2E6BB1</string>
	<key>kOpenAccountNavigaBarBlueToBlackNavigaBarBlueColor</key>
	<string>#2E6BB1</string>
	<key>kOpenAccountRiskTextColor</key>
	<string>#818689</string>
	<key>kOpenAccountProcessTradeCellBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>kOpenAccountProcessTradeCellTextColor</key>
	<string>#2B2B2B</string>
	<key>kOpenAccountProcessInforCellBackgroundColor</key>
	<string>#EEF2F6</string>
	<key>kOpenAccountProcessInforCellTextColor</key>
	<string>#A0A7AE</string>
	<key>kOpenAccountWarningTextColor</key>
	<string>#D5E0EE</string>
	<key>kOpenAccountIntroduceBankViewTextColor</key>
	<string>#A0A8AF</string>
	<key>kOpenAccountFinishedPhoneNumberColor</key>
	<string>#2e6bb1</string>
	<key>ATradeAccountCommonTitleColor</key>
	<string>#000000</string>
	<key>ATradeAccountCommonSubTitleColor</key>
	<string>#656b6e</string>
	<key>ATradeAccountCommonPlaceholderColor</key>
	<string>a0a8af</string>
	<key>ATradeAccountCommonTipsTextColor</key>
	<string>#3c3c3c</string>
	<key>kOpenAccountVertifyLineColor</key>
	<string>#C8D9EC</string>
	<key>kOpenAccountAllInfoBgColor</key>
	<string>#dce8f4</string>
	<key>kOpenAccountListSplitLineColor</key>
	<string>#63676a|0.3</string>
	<key>kOpenAccountTakeVideoTopTipsColor</key>
	<string>#b9b9b9</string>
	<key>kHotSearchStockListLeftViewRedColor</key>
	<string>#FF0000</string>
	<key>kSearchHotStockDetailListTopViewBackColor</key>
	<string>#2E6BB1</string>
	<key>kSearchHotStockDetailListTopViewTextColor</key>
	<string>#FFFFFF</string>
	<key>kSearchHotStockDetailListTopViewLineColor</key>
	<string>#1063AF</string>
	<key>kSearchHotStockDetailListTopViewTopLineColor</key>
	<string>#204B7C</string>
	<key>kSearchHotStockLevelFiveColor</key>
	<string>#CF0000</string>
	<key>kSearchHotStockLevelFourColor</key>
	<string>#FF0000</string>
	<key>kSearchHotStockLevelThreeColor</key>
	<string>#FF511B</string>
	<key>kSearchHotStockLevelTwoColor</key>
	<string>#EB8431</string>
	<key>kSearchHotStockLevelOneColor</key>
	<string>#E4A129</string>
	<key>kSearchHotStockRefreshTextColor</key>
	<string>#7CA1C2</string>
	<key>kCStockDetailAnaylisysPjjgBarMcColor</key>
	<string>#1CAA3D</string>
	<key>kCStockDetailAnaylisysPjjgBarJcColor</key>
	<string>#C1CF25</string>
	<key>kCStockDetailAnaylisysPjjgBarZxColor</key>
	<string>#E6962F</string>
	<key>kCStockDetailAnaylisysPjjgBarZcColor</key>
	<string>#EA5F28</string>
	<key>kCStockDetailAnaylisysPjjgBarMrColor</key>
	<string>#DD1717</string>
	<key>kCStockDetailAnaylisysPjjgBarBottomLineColor</key>
	<string>#B9CCE2</string>
	<key>kCStockDetailAnaylisysPjjgBarTextColor</key>
	<string>#5f6f7c</string>
	<key>kCStockDetailAnaylisysYanbaoZhaiyaoCellSellLineColor</key>
	<string>#BFC2C7</string>
	<key>kGrpShareRecordsControllerMenuBgColor</key>
	<string>#2e6bb1|0.98</string>
	<key>kGrpShareRecordsControllerMenuFontHighLightColor</key>
	<string>#AEB0B1</string>
	<key>kGrpShareRecordsControllerMenuFontNormalColor</key>
	<string>#ffffff</string>
	<key>kGrpShareNoDataTipsColor</key>
	<string>#AEB0B1</string>
	<key>kNewStockSepLineColor</key>
	<string>#cbd6e3</string>
	<key>kGrpShareRecordsControllerMenuSplitColor</key>
	<string>#447ab8</string>
	<key>kCStockDetailNoteViewTitleColor</key>
	<string>#326daf</string>
	<key>kCStockDetailNoteViewTitleViewBackColor</key>
	<string>#d9e6f3</string>
	<key>kCFinanceCalendarColor</key>
	<string>#2e6bb1</string>
	<key>kStudioHeaderBgColor</key>
	<string>#2e6bb1</string>
	<key>kNewsLiveBgColor</key>
	<string>#f4f4f4</string>
	<key>kNewsLiveBlankViewColor</key>
	<string>#f9f9f9</string>
	<key>kNewsLiveSpliteColor</key>
	<string>#dfdfdf</string>
	<key>kNewsLiveCellBgColor</key>
	<string>#ffffff</string>
	<key>kNewsLiveCellTitleColor</key>
	<string>#8d8d8d</string>
	<key>kNewsLiveCellSubTitleColor</key>
	<string>#585858</string>
	<key>kNewsLiveCellNameColor</key>
	<string>#000000</string>
	<key>kNewsLiveCellNameColor2</key>
	<string>#ffffff</string>
	<key>kNewsLiveCellHotColor</key>
	<string>#ff4242</string>
	<key>kNewsLiveSectionTitleColor</key>
	<string>#2f6bb1</string>
	<key>kCHSNewEntryViewBackgroundColor</key>
	<string>#C9CFD4</string>
	<key>kRecommandNewsLiveVipFollowBlueColor</key>
	<string>#195da0</string>
	<key>kRecommandNewsLiveVipFollowGrayColor</key>
	<string>#899198</string>
</dict>
</plist>
